<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <title>
        Login Page
    </title>
    <link th:href="@{/css/main.css}"/>
</head>
<body>
    <h1>Login</h1>
    <form th:action="@{/login}" th:object="${login}" method="post">
        <div class = "container">
            <label>Email: </label>
            <input type="text" placeholder="Enter email" name="email" required th:field="*{email}"><br>
            <label>Password: </label>
            <input type="password" placeholder="Enter password" name="password" required th:field="*{password}"><br>
            <button type="submit">Login</button>
        </div>
    </form>

</body>


</html>